<div class="tweet_header">
  <%= link_to '投稿する', tweets_new_path,
    class:"toukou-btn" %>
</div>
<div class="contents row" >
  <% @tweets.each do |tweet| %>
  <div class="tweet">
    <div class="profile clearfix">
      <div class="icon_image"><img src=<%= tweet.icon_image %> alt="image"></div>
      <div class="tweet_name"><%= tweet.name %></div>
    </div>
    <div class="country">country: <%= tweet.country %></div>
    <div class="genre">genre: <%= tweet.genre %></div>
    <div class="text"><%= tweet.text %></div>
  </div>
  <% end %>
</div>

