<div class="tweet_header">
  <% if user_signed_in? %>
    <%= link_to '投稿する', tweets_new_path,
    class:"toukou-btn" %>
  <% else %>
    <%= link_to "LOG IN", new_user_session_path, class: 'button fit' %>
    <%= link_to "SIGN UP", new_user_registration_path, class: 'button special' %>
  <% end %>
    </div>
</div>
<div class="contents row" >
  <% @tweets.each do |tweet| %>
  <div class="tweet">
    <div class="profile clearfix">
      <div class="icon_image">
        <% if tweet.user.avatar.nil? %>
        <%= %>
        <% else %>
        <%= image_tag tweet.user.avatar.url(:thumb) %>
        <% end %>
        </div>
      <div class="tweet_name"><%= tweet.user.name %></div>
    </div>
    <div class="country">country: <%= tweet.user.country %></div>
    <div class="genre">genre: <%= tweet.user.genre %></div>
    <div class="text"><%= tweet.text %></div>
  </div>
  <% end %>
    <%= paginate(@tweets) %>
  <div class="btn-group2">
  <%= link_to 'MY PAGE', user_path(id: current_user.id),
    class:"toukou-btn" %>
      <%= link_to 'HOME', root_path,
    class:"toukou-btn" %>
  </div>
</div>
